   {% extends 'base.html.twig' %}

{% block body %}

    <style>
        body{
           
            background-color:#FFCC99;
        }
        
        article{
            padding-top: 30px;
            margin: 40px;
            background-color: #fff;
            height: auto;
            
        }
       article h1{
        text-align: center;
       }
       
        
       
        
    </style>
   <article >
            <h1>Successful</h1>
            <hr>
            {% for d in date %}
              <p> Date : {{d.Date|date('d/m/Y')}}</p>  
            {% endfor %}
            
            {# <p>{{date}}</p> #}
            {# <p>Code orders :{{oid}}</p> #}

             <div class="infor bg-white ">
             {% for u in billdetail %}
            <p> Customer's Name : {{u.Name}}</p>
             {% endfor %}
           
             </div>
            <hr>
            <div class="bill">
                <table class="table">
                <tr> 
                <th>Productname</th>
                <th>Quantity</th>
                <th>Price</th>
                                           
                </tr>
                {% for p in billproduct %}
                 <tr> 
                  
                 <td>{{p.namepro}}</td> 
                <td> 
                <input id="form1" min="0" name="quantity" value="{{p.Quantity}}" type="number" class="form-control form-control-sm" />
                </td> 
                <td>
                <h6 class="mb-0"><span>${{sum(p.Quantity,p.price)}}</span> </h6>
                </td>
                 </tr>
                 {% endfor %}
                                      
                 <tr>
                <td colspan="3">Total</td>
                                       
                {# <td>{{total}}</td> #}
                </tr>
                                              
                </table> 
                
                </div>
            </div>
            <h6 class="mb-0"><a href="{{path('app_test')}}" class="text-body">Back to shop <i class="bi bi-box-arrow-left me-2"></i></a></h6> 

        </article>

        
{% endblock %}
